@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Plus Jakarta Sans", sans-serif;

  --color-surface: #ddffe2;
  --color-on-surface: #0b361d;
  --color-on-surface-variant: #3b6447;
  --color-surface-container: #bef5c9;
  --color-surface-container-low: #cafdd4;
  --color-surface-container-lowest: #ffffff;
  --color-primary: #266829;
  --color-primary-dim: #185c1e;
  --color-on-primary: #d1ffc8;
  --color-primary-container: #b2faa9;
  --color-on-primary-container: #1f6223;
  --color-tertiary-container: #f4a237;
  --color-on-tertiary-container: #4b2b00;
  --color-outline: #568061;
  --color-outline-variant: #8bb795;
  --color-error: #b02500;
  --color-error-container: #f95630;
  --color-on-error-container: #520c00;

  --radius-xl: 0.75rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
